body {
    background-color: #f5f7fa;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #111827;
}

h1, h3 {
    text-align: center;
    color: #1f2933;
}

.acoes {
  display: flex;
  gap: 5px;          
  align-items: flex-start;
}

#digite {
    margin-right: 2px;
    margin-left: 3px;
    width: 420px;
    height: 200px;
    border-radius: 3px;
    resize: none;
}

#analisar {
  transform: translateY(183px);
  margin-left: 0.5px;
  border-radius: 3px;
  background-color: #3b82f6;
}

#msg {
    font-size: 9px;
    margin-left: 782px;
    margin-top: 260px;
}